@using Microsoft.AspNetCore.Identity
@model List<StoreProject.Models.CartItem>
@inject UserManager<ApplicationUser> UserManager

<h3>Adauga categorie</h3>

<form method="post" action="/Categories/New" class="d-flex flex-row align-items-center gap-2" style="width:max-content">
    <label>Nume categorie</label>
    <br />
    <br />
    <input type="text" name="Name" style="padding:4px"/>
    
    <button type="submit" class="btn btn-outline-success">Adauga</button>
</form>