@using Microsoft.AspNetCore.Identity
@model List<StoreProject.Models.CartItem>
@inject UserManager<ApplicationUser> UserManager

<h3 class="text-lg-center">Cos de cumparaturi</h3>

@if (Model == null || Model.Count == 0)
{
        <h4 class="text-lg-center">Cosul tau este gol</h4>
}
else
{
        <table class="table table-striped" style="margin-top:50px; margin-bottom:50px">
            <thead>
                <tr>
                    <th scope="col">Nume</th>
                    <th scope="col">Cantitate</th>
                    <th scope="col">Pret</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td style="display:flex; justify-content:space-evenly">
                        <a href="/Cart/DecreaseQuantity/@item.ProductID" style="text-decoration:none"><i class="bi bi-dash-circle"></i></a>
                        @item.Quantity
                        <a href="/Cart/IncreaseQuantity/@item.ProductID" style="text-decoration:none"><i class="bi bi-plus-circle"></i></a>
                    </td>
                    <td>@item.Product.Price</td>
                    <td>@(item.Product.Price * item.Quantity)</td>
                    <td>
                        <a href="/Cart/Remove/@item.ProductID" style="text-decoration:none"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="text-lg-center">
            <a href="/Orders/Checkout" class="btn btn-success">Finalizeaza comanda</a>
        </div>
}