@using Microsoft.AspNetCore.Identity
@model StoreProject.Models.ApplicationUser[]
@inject UserManager<ApplicationUser> UserManager

<h3>Utilizatori</h3>
<br />

@foreach(var user in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-person-fill"></i> @user.Email</h5>
            <p class="card-text">@user.PhoneNumber</p>
            <a href="/Users/Show/@user.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Editeaza</a>
        </div>
    </div>
    <br />
}