@model StoreProject.Models.Product
<h2>Sterge produs</h2>
<br />
<form method="post" action="ConfirmDelete/@Model.ProductID">
    <button class="btn btn-success" type="submit">Sterge produs</button>
</form>