@foreach (var product in ViewBag.Products)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            <p>@product.Price</p>
            <a href="/Products/Show/@product.ProductID" class="btn btn-primary">Vezi produsul</a>
        </div>
    </div>
}