@using Microsoft.AspNetCore.Identity
@model StoreProject.Models.Product
@inject UserManager<ApplicationUser> UserManager

<h3>Produs @Model.Name</h3>

@if(User.IsInRole("Admin"))
{
    <form method="post" action="/Products/Delete/@Model.ProductID">
        <button type="submit">Sterge produs</button>    
    </form>
    <a href="/Products/Edit/@Model.ProductID">Editeaza</a>
}
else if(User.IsInRole("Colaborator") && UserManager.GetUserId(User) == Model.UserID)
{
    <form method="post" action="/Products/Delete/@Model.ProductID">
        <button type="submit">Sterge produs (colaborator)</button>
    </form>
    <a href="/Products/Edit/@Model.ProductID">Editeaza</a>
}