@using Microsoft.AspNetCore.Identity
@model StoreProject.Models.Product
@inject UserManager<ApplicationUser> UserManager

<h3>Produs @Model.Name</h3>


@if (User.IsInRole("Admin") || (User.IsInRole("Colaborator") && UserManager.GetUserId(User) == Model.UserID))
{
    <form method="post" action="/Products/Delete/@Model.ProductID">
        <button class="btn btn-primary" type="submit">Sterge produs</button>
    </form>
    <br />
    <a class="btn btn-primary" href="/Products/Edit/@Model.ProductID">Editeaza</a>
}